*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

h1{
    color: darkmagenta;
}

#grid {
    width: 800px;
    height: 800px;
    margin-top: -1px;
    margin-left: -1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.square{
    outline: 1px solid;
    margin-top: 1px;
    margin-left: 1px;
}
